.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 4rem;
  color: var(--info);

  a {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    strong {
      font-size: 2rem;
      color: var(--white);
    }
    > span {
      font-size: 1.3rem;
      margin-bottom: 1rem;
    }
    div {
      display: flex;
      align-items: center;
      div + div {
        margin-left: 30px;
      }
      div {
        svg {
          margin-right: 8px;
        }
      }
    }
    & + a {
      margin-top: 2rem;
    }
  }
  button {
    width: fit-content;
    color: var(--pink);
    font-weight: 600;
    background-color: transparent;
    border: none;
    margin-top: 3rem;
  }
}
